<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de dados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <label class="label-index">consulta de dados</label>
            <input id="consulta" class="input-index" type="text" placeholder="Digite sua consulta">
        </div>
    </div>
    <script defer src="{{ url_for('static', filename='api.js') }}"></script>
</body>
</html>